.sample{
    padding-left: 950px;
}

a{
    padding-left: 25px;
    text-decoration:none;
    color: whitesmoke;
}

mat-toolbar{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-style: unset;
}

